<%= provide(:page_title, 'Người mê xe - Website Mua Bán, Rao Vặt Trực Tuyến Hàng Đầu Của Người Chơi Xe') %>
<%= provide(:page_description, 'Người Mê Xê - Website mua bán rao vặt của người Việt với hàng ngàn món hời đang được rao bán mỗi ngày. Đăng tin mua bán UY TÍN, NHANH CHÓNG, AN TOÀN.') %>
<%= provide(:page_url, root_url) %>

<div id="main" class="main">
  <section class="main-head">
    <div class="container">
      <ul class="list-inline main-actions">
        <li class="form-body list-inline__item main-action">
          <select class="form-select has-icon">
            <option value="expensive">Cao đến thấp</option>
            <option value="cheap">Thấp đến cao</option>
          </select>
          <%= inline_svg('ico_filter.svg') %>
        </li>
        <li class="form-body list-inline__item main-action">
          <select class="form-select has-icon">
            <option value="newest">Mới Nhất Trước</option>
            <option value="eldest">Cũ hơn</option>
          </select>
          <%= inline_svg('ico_filter.svg') %>
        </li>
      </ul>
    </div>
  </section>

  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="form-group form-group--vertical">
            <div class="form-body">
              <div class="form-radio-images">
                <a href="/?type=moto" class="form-radio-image">
                  <input type="radio" name="type">
                  <span></span>
                  <img src="<%= asset_pack_path('images/ico_moto.png') %>" alt="vehicle" width="50">
                  <p>Xe Máy</p>
                </a>
                <a href="/?type=oto" class="form-radio-image">
                  <input type="radio" name="type">
                  <span></span>
                  <img src="<%= asset_pack_path('images/ico_car.png') %>" alt="vehicle" width="50">
                  <p>Ô Tô</p>
                </a>
                <label class="form-radio-image">
                  <input type="radio" name="type">
                  <span></span>
                  <img src="<%= asset_pack_path('images/ico_bicycle.png') %>" alt="vehicle" width="50">
                  <p>Xe Đạp</p>
                </label>
                <label class="form-radio-image">
                  <input type="radio" name="type">
                  <span></span>
                  <img src="<%= asset_pack_path('images/ico_other.png') %>" alt="vehicle" width="50">
                  <p>Khác</p>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group form-group--vertical">
            <p class="form-label">Địa Điểm</p>
            <div class="form-body">
              <%= select_tag "location", options_from_collection_for_select(Province.all, "id", "name"), class: "form-select has-icon", include_blank: "Toàn Quốc" %>
              <%= inline_svg('ico_mark.svg') %>
            </div>
            <div class="form-body">
              <select class="form-select has-icon" name="location">
                <option value="all">Quận</option>
                <option value="hcm">Quận 1</option>
                <option value="hn">Quận 2</option>
                <option value="bd">Bình Thạnh</option>
                <option value="kh">Phú Nhuận</option>
              </select>
              <%= inline_svg('ico_mark.svg') %>
            </div>
          </div>
          <div class="form-group form-group--vertical">
            <p class="form-label">Nhãn Hiệu</p>
            <div class="form-body">
              <select class="form-select has-icon" name="brand">
                <option value="all">Tất cả</option>
                <option value="honda">Honda</option>
                <option value="yamaha">Yamaha</option>
                <option value="vinfast">Vinfast</option>
              </select>
              <%= inline_svg('ico_brand.svg') %>
            </div>
          </div>
          <div class="form-group form-group--vertical">
            <p class="form-label">Mức Giá (vnđ)</p>
            <div class="form-body">
              <select class="form-select has-icon" name="price">
                <option value="all">Tất cả</option>
                <option value="1">< 5.000.000 vnđ</option>
                <option value="2">< 10.000.000 vnđ</option>
                <option value="3">< 15.000.000 vnđ</option>
              </select>
            </div>
            <%# <div class="form-body">
              <div class="form-list">
                <input type="number" class="form-input" placeholder="Từ" name="first-price" disabled>
                <span class="form-list__seperate">-</span>
                <input type="number" class="form-input" placeholder="Đến" name="last-price" disabled>
              </div>
            </div>
            <div class="form-body">
              <input value="25000" min="500000" max="5000000000" step="500" type="range">
              <input value="25000" min="500000" max="5000000000" step="500" type="range">
            </div> %>
          </div>
          <div class="form-group form-group--vertical">
            <p class="form-label">Tình trạng sử dụng</p>
            <div class="form-body">
              <label class="form-checkbox">
                <input type="checkbox" name="status">
                <span>Mới</span>
              </label>
              <label class="form-checkbox">
                <input type="checkbox" name="status">
                <span>Đã qua sử dụng</span>
              </label>
            </div>
          </div>
          <div class="form-group form-group--vertical">
            <input type="submit" class="btn btn--tertiary btn--full" value="Áp Dụng">
          </div>
        </div>

        <div class="col-9">
          <ul class="list-view pl-24">
            <%= render partial: 'shared/post', collection: @posts %>
          </ul>
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </section>

  <div class="alert alert--secondary js-alert">
    Alert content here…
    <button class="btn--icon alert__action js-btn-close-alert">
      <%= inline_svg('ico_close.svg') %>
    </button>
  </div>
</div>
