<li class="link-list__item is-expand">
  <button class="btn--icon btn-massages js-btn-open-dropdown <%= check ? 'badge' : '' %> " data-target="messages" user_id="<%= current_user.id %>">
    <%= inline_svg('ico_message.svg') %>
  </button>

  <ul class="dropdown dropdown--md js-dropdown hidden" data-dropdown="messages">
    <li class="list-writer__item list-writer__header msg-counter">Hộp thư (<%= count %>)</li>
    <li class="list-writer__item js-new-message"></li>
    <%= render partial: 'messages/conversation', collection: conversations, locals: { users: [current_user], type: "receive" } %>
    <li class="list-writer__item">
      <a href="/messages" class="list-writer__link btn--link">XEM THÊM</a>
    </li>
  </ul>
</li>
