<header id="header" class="header">
  <div class="header__logo">
    <a href="/">
      <img width="74" src="<%= asset_pack_path('images/img_logo.png') %>" alt="logo">
    </a>
  </div>

  <ul class="header__links link-list">
    <li class="link-list__item">
      <a href="/" class="link has-border is-active">Mua Bán</a>
    </li>
    <li class="link-list__item">
      <a href="/community" class="link has-border">Trải nghiệm</a>
    </li>
    <li class="link-list__item">
      <a href="/blogs" class="link has-border">Tin Tức</a>
    </li>
  </ul>

  <div class="header__ultility">
    <div class="header__search-box">
      <div class="form-body">
        <%= form_tag search_posts_path, method: 'GET' do |form| %>
          <input type="text" id="q" name="q" class="form-input search-box search-box--lg has-icon" placeholder="Tìm Kiếm với thành phố, quận/huyện">
          <%= inline_svg('ico_search.svg') %>
        <% end %>
      </div>
    </div>
    <div class="header__actions">
      <% if user_signed_in? %>
        <ul class="header__links link-list">
          <li class="link-list__item">
            <a href="/posts/new" class="link has-border">Đăng Bài</a>
          </li>
          <%= render_notification_activity(current_user) %>
          <%= render_notification_message(current_user) %>
          <li class="link-list__item">
            <button class="btn--icon js-btn-open-dropdown" data-target="user">
              <img class="header__avatar" src="<%= current_user.avatar_url(:medium) %>" alt="avatar">
            </button>

            <ul class="dropdown hidden js-dropdown" data-dropdown="user">
              <li class="dropdown__item dropdown__header">Hồ sơ</li>
              <li class="dropdown__item">
                <%= link_to(user_path(slug: current_user.slug_name), class: "writer writer--default") do %>
                  <div class="writer__avatar">
                    <img src="<%= current_user.avatar_url(:medium) %>" alt="avatar">
                  </div>
                  <div class="writer__body">
                    <p class="writer__name expanded"><%= current_user.username %></p>
                    <span><%= current_user.email %></span>
                  </div>
                <% end %>
              </li>
              <li class="dropdown__item">
                <a href="/groups/new">
                  <%= inline_svg('ico_group.svg') %>
                  Tạo nhóm
                </a>
              </li>
              <li class="dropdown__item">
                <a href="/stores/new">
                  <%= inline_svg('ico_circle-plus.svg' )%>
                  Tạo shop
                </a>
              </li>
              <li class="dropdown__item">
                <a href="/auth/log_out">
                  <%= inline_svg('ico_logout.svg') %>
                  Đăng xuất
                </a>
              </li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="header__links link-list">
          <li class="link-list__item">
            <a href="#" class="link has-border js-btn-open-login-modal" data-target="register-form">Đăng Kí</a>
          </li>
          <li class="link-list__item">
            <a href="#" class="link has-border js-btn-open-login-modal" data-target="login-form">Đăng Nhập</a>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</header>
