<div class="modal-wrapper hidden js-modal-wrapper">
  <div class="modal">
    <div class="modal__actions">
      <ul class="link-list link-list--lg">
        <li class="link-list__item">
          <a href="#" class="link has-border js-btn-modal-tab is-active" data-target="login-form">Đăng Nhập</a>
        </li>
        <li class="link-list__item">
          <a href="#" class="link has-border js-btn-modal-tab" data-target="register-form">Đăng ký</a>
        </li>
      </ul>
      <button class="btn--icon js-btn-close-modal">
        <%= inline_svg('ico_close.svg') %>
      </button>
    </div>

    <div class="modal__form">
      <div id="login-form">
        <div class="form-group form-group--horizontal">
          <p class="form-label">Email / SĐT</p>
          <div class="form-body">
            <input type="text" id="email" name="email" class="form-input" placeholder="Nhập địa chỉ email"/>
          </div>
        </div>

        <div class="form-group form-group--horizontal">
          <p class="form-label">Mật Khẩu</p>
          <div class="form-body">
            <input type="password" id="password" name="password" class="form-input" placeholder="Nhập mật khẩu"/>
          </div>
          <p class="form-hint form-text-error js-text-error"></p>
        </div>

        <div class="form-group form-group--horizontal">
          <p class="form-label"></p>
          <div class="form-body">
            <button class="btn btn--full btn--primary js-btn-login">Đăng nhập</button>
            <div class="mt-16">
              <%= link_to 'Đăng nhập bằng Google', user_google_oauth2_omniauth_authorize_path, class: 'btn btn--full btn--tertiary' %>
            </div>
            <div class="mt-16">
              <%= link_to 'Đăng nhập bằng Facebook', user_facebook_omniauth_authorize_path, class: 'btn btn--full btn--tertiary' %>
            </div>
          </div>
        </div>

        <div class="form-group form-group--horizontal">
          <p class="form-label"></p>
          <p class="form-body text--sm">Quên mật khẩu ? <a class="link" href="/reset_passwords/forget_password"> Bấm vào đây</a></p>
        </div>
      </div>

      <div id="register-form" class="hidden">
        <div class="form-group form-group--horizontal">
          <p class="form-label">Họ Tên</p>
          <div class="form-body">
            <input class="form-input" id="signup_username" name="signup_username" type="text" placeholder="Được dùng để định danh">
          </div>
          <p class="form-hint form-text-error js-error-username"></p>
        </div>

        <div class="form-group form-group--horizontal">
          <p class="form-label">Email / SĐT</p>
          <div class="form-body">
            <input class="form-input" type="text" id="signup_email" name="signup_email" placeholder="Nhập email đăng kí">
          </div>
          <p class="form-hint form-text-error js-error-email"></p>
        </div>

        <div class="form-group form-group--horizontal">
          <p class="form-label">Mật Khẩu</p>
          <div class="form-body">
            <input class="form-input" type="password" id="signup_password" name="signup_password" placeholder="Nhập mật khẩu tối thiểu 6 kí tự">
          </div>
          <p class="form-hint form-text-error js-error-password"></p>
        </div>

        <div class="form-group form-group--horizontal">
          <p class="form-label"></p>
          <div class="form-body">
            <button class="btn btn--full btn--primary js-btn-signup">Đăng Ký</button>
            <div class="mt-16">
              <%= link_to 'Đăng Ký bằng Google', user_google_oauth2_omniauth_authorize_path, class: 'btn btn--full btn--tertiary' %>
            </div>
            <div class="mt-16">
              <%= link_to 'Đăng Ký bằng Facebook', user_facebook_omniauth_authorize_path, class: 'btn btn--full btn--tertiary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
