<li class="dropdown__item">
  <%= link_to(message_path(name: message.name), class: 'writer writer--default') do %>
    <div class="writer__avatar">
      <img src="<%= message.with_user(user).avatar_url(:medium) %>" alt="avatar">
    </div>
    <div class="writer__body">
      <p class="writer__name"><%= message.with_user(user).username %><span class="writer__date"><%= message.last_message.created_date %></span></p>
      <p class="writer__text"><%= message.last_message.msg %></p>
    </div>
    <%- unless message.senders_last_message(user).read %>
      <span class="writer__badge"></span>
    <% end %>
  <% end %>
</li>
