<li class="dropdown__item">
  <a href="<%= notification.url %>" class="writer writer--default">
    <div class="writer__avatar">
      <img src="<%= notification.user_avatar_url(:medium) %>" alt="avatar">
    </div>
    <div class="writer__body">
      <p class="writer__name">
        <%= notification.user_username %>
        <span><%= notification.message %></span>
        <span class="writer__date"><%= notification.created_date %></span>
      </p>
    </div>
    <%- unless notification.read %>
      <span class="writer__badge"></span>
    <% end %>
  </a>
</li>
