<li class="list-view__item">
  <div class="product">
    <%= link_to post_path(slug: post.slug_title), class: 'product__link' do %>
      <div class="product__image" style="background-image: url(<%= post.images[0] %>)">
      </div>
    <% end %>
    <div class="product__body">
      <div class="product__preview">
        <div class="product__info">
          <%= link_to post_path(slug: post.slug_title), class: 'product__link' do %>
            <h2 class="headline"><%= truncate(post.title, length: 55) %></h2>
          <% end %>
          <p class="text--grey mt-4">20 tháng 1, 2019</p>
        </div>
        <div class="product__price">
          <p class="headline--md"><%= post.price %> đ</p>
          <p class="text--sm text--grey mt-4">Có thể thương lượng</p>
          <button class="btn--icon btn--mark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path fill="#484848" fill-rule="evenodd" d="M8 12.413l-4.367 2.18A.667.667 0 0 1 2.667 14V2.667c0-.734.6-1.334 1.333-1.334h8c.736 0 1.333.597 1.333 1.334V14a.667.667 0 0 1-.966.6L8 12.407v.006zm4-9.746H4V12.92l3.7-1.847a.667.667 0 0 1 .6 0L12 12.92V2.667z"/>
            </svg>
          </button>
        </div>
      </div>

      <div class="product__blocks">
        <div class="product__block">
          <p class="label">Tình trạng</p>
          <p><%= post.status_of_vehicle %></p>
        </div>
        <div class="product__block">
          <p class="label">Km đã đi</p>
          <p><%= post.km %> km</p>
        </div>
        <div class="product__block">
          <p class="label">Dung tích</p>
          <p>1200 cc</p>
        </div>
        <div class="product__block">
          <p class="label">Hãng</p>
          <p>Harley-Davision</p>
        </div>
        <div class="product__block">
          <p class="label">Nơi Bán</p>
          <p><%= post.address_sale %></p>
        </div>
      </div>
    </div>
  </div>
</li>
