<% if post.is_a?(Post) %>
<li class="list-view__item">
  <div class="card">
    <%= link_to post_path(slug: post.slug_title) do %>
    <div class="card__image" style="background-image: url(<%= asset_pack_path('images/img_moto-dummy.jpg') %>)">
    </div>
    <% end %>
    <div class="card__body">
      <h2 class="headline card__headline"><%= post.title %></h2>
      <div class="card__blocks">
        <div class="card__block">
          <p class="label">11 người đang xem</p>
          <p class="text--md"><%= post.price %> đ</p>
        </div>
        <div class="card__block">
          <p class="label">Tình trạng</p>
          <p class="content"><%= post.status_of_vehicle %></p>
        </div>
        <div class="card__block">
          <p class="label">Km đã đi</p>
          <p class="content"><%= post.km %> km</p>
        </div>
        <div class="card__block">
          <p class="label">Dung tích</p>
          <p class="content"><%= post.capacity %></p>
        </div>
        <div class="card__block">
          <button class="btn btn--secondary btn--md btn--full">Liên hệ ngay</button>
        </div>
        <div class="card__block">
          <p class="label">Màu Sắc</p>
          <p class="content"><%= post.color %></p>
        </div>
        <div class="card__block">
          <p class="label">Nơi Bán</p>
          <p class="content"><%= post.address_sale %></p>
        </div>
        <div class="card__block">
          <p class="label">Hãng</p>
          <p class="content">Harley-Davision</p>
        </div>
      </div>
    </div>
  </div>
</li>
<% else %>
<div class="card__block">
  <p class="label"><%= post.user_username %></p>
  <p class="content"><%= post.title %></p>
</div>
<br/>
<div class="card__image" style="background-image: url(<%= asset_pack_path('images/img_moto-dummy.jpg') %>)"></div>
<% end %>
