<li class="list-view__item">
  <div class="product">
    <%= link_to post_path(slug: post.slug_title), class: 'product__link' do %>
      <div class="product__image" style="background-image: url(<%= post.images.sample %>)">
      </div>
    <% end %>
    <div class="product__body">
      <div class="product__preview">
        <div class="product__info">
          <%= link_to post_path(slug: post.slug_title), class: 'product__link' do %>
            <h2 class="headline"><%= truncate(post.title, length: 55) %></h2>
          <% end %>
          <p class="text--grey mt-4"><%= post.created_date %></p>
        </div>
        <div class="product__price">
          <p class="headline--md"><%= number_to_currency(post.price, unit: "VNĐ", delimiter: ",", precision: 0, format: "%n %u") %></p>
          <p class="text--sm text--grey mt-4">Có thể thương lượng</p>
          <button class="btn--icon btn--mark">
            <%= inline_svg('ico_bookmark.svg') %>
          </button>
        </div>
      </div>

      <div class="product__blocks">
        <div class="product__block">
          <p class="label">Tình trạng</p>
          <p><%= post.status_of_vehicle %></p>
        </div>
        <div class="product__block">
          <p class="label">Km đã đi</p>
          <p><%= post.km %> km</p>
        </div>
        <div class="product__block">
          <p class="label">Dung tích</p>
          <p>1200 cc</p>
        </div>
        <div class="product__block">
          <p class="label">Hãng</p>
          <p>Harley-Davision</p>
        </div>
        <div class="product__block">
          <p class="label">Nơi Bán</p>
          <p><%= post.address_sale %></p>
        </div>
      </div>
    </div>
  </div>
</li>
