<%= provide(:page_title, 'Giao lưu - Kết nối cùng đam mê') %>
<%= provide(:page_description, 'Miêu tả') %>
<%= provide(:page_url, root_path) %>

<!-- <div class='horizontal content-body'>
  <%= render partial: 'shared/post', collection: @posts %>
  <div>
    <h2>Groups</h2>
    <% @groups.map do |f| %>
      <h4><%= f.name %> - <%= f.user_groups.count %> (thành viên)</h4>
    <% end%>
  </div>
</div> -->


<%= render 'shared/online' %>
<br/>
<%= render partial: 'shared/post', collection: @posts %>
