<%= provide(:page_title, @post.title)%>
<%= provide(:page_description, 'Người Mê Xê - Website mua bán rao vặt của người Việt với hàng ngàn món hời đang được rao bán mỗi ngày. Đăng tin mua bán UY TÍN, NHANH CHÓNG, AN TOÀN.') %>
<%= provide(:page_url, posts_url.concat("/#{@post.slug_title}"))%>
<%= provide(:page_image, image_url(@post.images.first))%>

<div id="main" class="main">
  <section class="grid-images">
    <div class="grid-image">
      <div class="grid-image__block" style="background-image: url(<%= @post.images[0] %>)">
      </div>
    </div>
    <div class="grid-image">
      <div class="grid-image__block" style="background-image: url(<%= @post.images[1] %>)">
      </div>
      <div class="grid-image__block" style="background-image: url(<%= @post.images[2] %>)">
      </div>
      <div class="grid-image__block" style="background-image: url(<%= @post.images[3] %>)">
      </div>
      <div class="grid-image__block has-more" style="background-image: url(<%= @post.images[4] %>)">
        <span class="grid-image__over">+5</span>
      </div>
    </div>
  </section>

  <section class="main-content">
    <div class="container">
      <div class="block">
        <div class="block__head">
          <h2 class="headline--lg"><%= @post.title %></h2>
          <h3 class="text--xl"><%= @post.price %> đ</h3>
          <p class="text--sm text--grey"><%= @post.created_date %> - <%= @post.address_sale %></p>
        </div>
        <div class="block__actions">
          <ul class="link-list">
            <li class="link-list__item">
              <button class="btn--icon">
                  <%= social_share(@post) %>
              </button>
            </li>
            <li class="link-list__item">
              <button class="btn--icon">
                  <%= inline_svg('ico_flag.svg') %>
              </button>
            </li>
          </ul>
          <p class="text--grey mt-16"><%= @post.views_count %> lượt xem</p>
        </div>
      </div>

      <div class="block">
        <div class="row">
          <div class="col-8">
            <div class="block__body">
              <div class="block__inner">
                <p class="text--bold">Mô tả chi tiết</p>
                <p class="mt-16"><%= raw @post.describe %></p>
              </div>

              <div class="block__inner">
                <p class="text--bold">Thông số</p>
                <div class="row">
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <path fill="#21252B" fill-rule="evenodd" d="M31.383 14.444L15.828 0 .272 14.444a.543.543 0 0 0 .738.796l1.8-1.672v18.088h26.034V13.567l1.8 1.672a.54.54 0 0 0 .767-.028.542.542 0 0 0-.028-.767zm-18.81 16.127v-8.678a3.258 3.258 0 0 1 3.255-3.254 3.258 3.258 0 0 1 3.254 3.254v8.678h-6.509zm15.187 0h-7.593v-8.678a4.344 4.344 0 0 0-4.34-4.34 4.344 4.344 0 0 0-4.338 4.34v8.678H3.895V12.56L15.828 1.48 27.76 12.56v18.01z"/>
                        </svg>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Hãng xe</p>
                        <p>Kawasaki</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <path fill="#21252B" fill-rule="evenodd" d="M29.982 7c1.684 1.676 1.684 3.702 0 5.386L21.44 20.98l-.002.002a1.41 1.41 0 0 1-1.994-.002l-1.93-1.93-2.27 2.271a.557.557 0 0 1-.304.156l-2.078.327-.386 2.144a.557.557 0 0 1-.43.445l-1.944.43-.156 1.61a.557.557 0 0 1-.163.342L8.678 27.88a.557.557 0 0 1-.46.156l-1.484-.186-.052 1.788a.557.557 0 0 1-.163.379l-1.751 1.751a.556.556 0 0 1-.394.163H1.258v.015H1.25a.556.556 0 0 1-.549-.564l.015-3.94a.556.556 0 0 1 .163-.386l9.647-9.646-.58-.579a.556.556 0 0 1 0-.786l2.279-2.256-1.93-1.93-.002-.002a1.41 1.41 0 0 1 .003-1.994l8.585-8.6c1.677-1.684 3.703-1.684 5.387 0L29.982 7zM14.577 20.414l2.145-2.144-3.71-3.71-1.878 1.877.579.579a.556.556 0 0 1 0 .786l-9.84 9.87-.089 3.138h2.338l1.432-1.432.06-2.182.003-.049a.557.557 0 0 1 .62-.485l1.87.2.742-.742.178-1.818a.556.556 0 0 1 .43-.49l1.974-.437.4-2.145a.557.557 0 0 1 .46-.452l2.286-.364zM29.24 11.6c1.573-1.588.868-2.946 0-3.814L23.482 2.05a2.797 2.797 0 0 0-1.915-.935c-.734.04-1.42.378-1.9.935l-8.585 8.555a.297.297 0 0 0 .03.482l2.322 2.323 4.453 4.452 2.322 2.316.003.003a.297.297 0 0 0 .42-.003L29.24 11.6zm-2.414-1.946a.557.557 0 0 1-.814.759l-5.157-5.158a.559.559 0 0 1 0-.814.557.557 0 0 1 .786.028l5.157 5.157c.01.009.02.018.028.028z"/>
                        </svg>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Mẫu xe</p>
                        <p>Z1000</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <path fill="#21252B" fill-rule="evenodd" d="M30.4 2.133c.295 0 .533.239.533.534v28.8A.533.533 0 0 1 30.4 32H1.6a.533.533 0 0 1-.533-.533v-28.8c0-.295.238-.534.533-.534h3.733v-1.6c0-.295.239-.533.534-.533H9.6c.295 0 .533.238.533.533v1.6h11.734v-1.6c0-.295.238-.533.533-.533h3.733c.295 0 .534.238.534.533v1.6H30.4zm-7.467-1.066v3.2H25.6v-3.2h-2.667zm-16.533 0v3.2h2.667v-3.2H6.4zM2.133 3.2V8h27.734V3.2h-3.2v1.6a.533.533 0 0 1-.534.533H22.4a.533.533 0 0 1-.533-.533V3.2H10.133v1.6a.533.533 0 0 1-.533.533H5.867a.533.533 0 0 1-.534-.533V3.2h-3.2zm0 27.733h27.734V9.067H2.133v21.866zm18.134-18.666h5.866V27.733H5.867V12.267h14.4zm-3.734 1.066v3.734h3.734v-3.734h-3.734zm3.734 8.534v-3.734h-3.734v3.734h3.734zm-8.534-3.734v3.734h3.734v-3.734h-3.734zm0-4.8v3.734h3.734v-3.734h-3.734zm-4.8 0v3.734h3.734v-3.734H6.933zm0 4.8v3.734h3.734v-3.734H6.933zm3.734 8.534v-3.734H6.933v3.734h3.734zm4.8 0v-3.734h-3.734v3.734h3.734zm4.8 0v-3.734h-3.734v3.734h3.734zm4.8 0v-3.734h-3.734v3.734h3.734zm0-4.8v-3.734h-3.734v3.734h3.734zm0-8.534h-3.734v3.734h3.734v-3.734z"/>
                        </svg>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Đời Xe</p>
                        <p><%= @post.car_life %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <path fill="#21252B" fill-rule="evenodd" d="M18.532 10.44a2.151 2.151 0 1 1-.466 2.344 2.151 2.151 0 0 1 .466-2.344zm2.424 2.424a1.276 1.276 0 1 0-1.805-1.805 1.276 1.276 0 1 0 1.805 1.805zm8.683-10.212a5.082 5.082 0 0 1-3.04 8.466 1.79 1.79 0 0 0-1.523 1.528 5.038 5.038 0 0 1-4.837 4.366l-3.227 3.228a5.042 5.042 0 0 1-4.37 4.84 1.794 1.794 0 0 0-1.524 1.53A5.065 5.065 0 0 1 6.106 31h-.014a5.074 5.074 0 0 1-3.715-8.527 5.088 5.088 0 0 1 2.96-1.566 1.906 1.906 0 0 0 1.61-1.606 5.077 5.077 0 0 1 4.842-4.313l3.198-3.199a5.031 5.031 0 0 1 1.347-3.273 5.088 5.088 0 0 1 2.96-1.567 1.906 1.906 0 0 0 1.611-1.606 5.07 5.07 0 0 1 8.734-2.69zM15.026 22.916a4.231 4.231 0 0 0 .013-5.71l-.011-.013a4.194 4.194 0 0 0-7.215 2.236 2.785 2.785 0 0 1-2.349 2.345 4.2 4.2 0 0 0 .628 8.351h.012a4.188 4.188 0 0 0 4.147-3.638 2.67 2.67 0 0 1 2.272-2.277 4.193 4.193 0 0 0 2.503-1.294zm1.9-3.828l2.161-2.161a5.036 5.036 0 0 1-4.01-3.99l-2.142 2.142a5.09 5.09 0 0 1 2.758 1.545 4.996 4.996 0 0 1 1.233 2.464zm12.059-10.13a4.232 4.232 0 0 0 .001-5.723A4.208 4.208 0 0 0 25.91 1.9a4.196 4.196 0 0 0-4.139 3.57 2.784 2.784 0 0 1-2.349 2.345 4.194 4.194 0 1 0 4.787 4.713 2.67 2.67 0 0 1 2.273-2.276 4.193 4.193 0 0 0 2.503-1.294zm-3.066-5.013a2.151 2.151 0 1 1 0 0zm.902 3.053a1.276 1.276 0 0 0-1.805-1.804 1.276 1.276 0 0 0 1.805 1.804zM6.095 23.768a2.151 2.151 0 1 1 0 0zm.902 3.054a1.276 1.276 0 0 0-1.805-1.805 1.276 1.276 0 0 0 1.805 1.805zm3.442-8.29a2.151 2.151 0 1 1 3.042 3.042 2.151 2.151 0 0 1-3.042-3.041zm2.424 2.424a1.276 1.276 0 1 0-1.806-1.805 1.276 1.276 0 0 0 1.806 1.805z"/>
                        </svg>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Loại xe</p>
                        <p><%= @post.range_of_vehicle %></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <path fill="#21252B" fill-rule="evenodd" d="M15.98 5.099c6.011.01 10.875 4.893 10.864 10.905-.014 5.997-4.88 10.851-10.878 10.851-6.008 0-10.878-4.87-10.878-10.878S9.958 5.099 15.966 5.099h.013zm-.014 20.752c5.443-.003 9.859-4.405 9.88-9.848l.001-.033c0-5.457-4.424-9.88-9.88-9.88-5.458 0-9.882 4.423-9.882 9.88 0 5.457 4.424 9.881 9.881 9.881zM29.371 7.286a15.958 15.958 0 0 1 .665 16.278v.04a16.118 16.118 0 0 1-5.32 5.765.497.497 0 0 1-.106.066 15.892 15.892 0 0 1-8.185 2.527H15.966a15.898 15.898 0 0 1-7.141-1.67l-.08-.039a16.112 16.112 0 0 1-6.078-5.432l-.033-.054A15.958 15.958 0 0 1 1.87 8.53v-.054a16.112 16.112 0 0 1 5-5.612l.074-.053a15.959 15.959 0 0 1 16.37-1.03h.047a16.112 16.112 0 0 1 5.984 5.432c.011.024.02.048.027.073zm.226 14.921a14.901 14.901 0 0 0 1.37-6.057c-.293-.26-1.064-.898-1.849-.665a.5.5 0 0 1-.286-.958 2.6 2.6 0 0 1 2.095.366 14.9 14.9 0 0 0-2.254-6.875c-.751-.04-1.729.08-1.875.425a.499.499 0 1 1-.918-.392c.333-.765 1.317-.984 2.115-1.03a15.113 15.113 0 0 0-4.874-4.23c-.878.452-1.809 1.124-1.902 1.523a.499.499 0 0 1-.485.386h-.113l-.015-.004a.499.499 0 0 1-.358-.608c.166-.718 1.037-1.383 1.769-1.809A14.914 14.914 0 0 0 15.953.996h-.725a2.853 2.853 0 0 0-.884 1.862.499.499 0 0 1-.48.518.499.499 0 0 1-.498-.478c-.005-.632.18-1.25.532-1.776-2.245.311-4.39 1.13-6.27 2.394-.113.765-.1 1.762.259 2.094a.499.499 0 0 1-.665.732 2.8 2.8 0 0 1-.665-2.048 15.107 15.107 0 0 0-3.763 4.495c.033.412.22 1.689 1.083 2.254a.5.5 0 1 1-.545.838 3.265 3.265 0 0 1-1.243-1.636 14.921 14.921 0 0 0-1.144 5.738v.745a3.644 3.644 0 0 0 2.081 1.004.499.499 0 1 1 0 .998 3.989 3.989 0 0 1-1.915-.665 14.901 14.901 0 0 0 2.281 6.057 2.62 2.62 0 0 0 1.935 0 .499.499 0 0 1 .499.838c-.402.24-.863.362-1.33.352H4.23a15.1 15.1 0 0 0 4.78 3.944 2.187 2.187 0 0 0 1.55-1.124.499.499 0 0 1 .938.339 2.607 2.607 0 0 1-1.25 1.363 14.92 14.92 0 0 0 5.718 1.137h.246c.632-.718 1.144-1.563 1.084-1.802a.499.499 0 1 1 .904-.346c.233.599-.186 1.403-.665 2.068a14.895 14.895 0 0 0 6.37-2.194c.054-.751-.053-1.516-.246-1.616a.499.499 0 1 1 .472-.878c.579.313.778 1.144.778 1.81a15.114 15.114 0 0 0 4.13-4.682c-.306-.698-.792-1.416-1.104-1.456a.502.502 0 1 1 .12-.998 2.447 2.447 0 0 1 1.542 1.33z"/>
                        </svg>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Tình trạng</p>
                        <p><%= @post.status_of_vehicle %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <path fill="#21252B" fill-rule="evenodd" d="M31.584 10.498a1.11 1.11 0 0 1 0 1.567l-4.466 4.466-3.442 3.442c-.207.21-.489.328-.783.327a1.16 1.16 0 0 1-.79-.302l-.092-.13a28.375 28.375 0 0 0-2.585-4.318c-1.308 1.432-5.447 6.083-6.86 7.933a4.318 4.318 0 0 0-.863 4.189.463.463 0 0 1-.124.444l-3.7 3.701a.463.463 0 0 1-.655 0l-3.479-3.479a.443.443 0 0 1-.037-.05l-.05-.03-3.478-3.48a.463.463 0 0 1 0-.653l3.7-3.701a.469.469 0 0 1 .445-.124c1.45.469 3.04.138 4.182-.87 1.826-1.418 6.515-5.595 7.94-6.865a31.167 31.167 0 0 0-4.405-2.671l-.13-.093-.005-.005a1.104 1.104 0 0 1 .006-1.562L16.847 3.3l2.98-2.985a1.135 1.135 0 0 1 1.567 0l10.19 10.184zM11.84 22.903c1.492-1.937 5.878-6.847 7.02-8.111-.272-.303-.58-.667-.833-.92-.253-.252-.537-.5-.827-.746-1.252 1.123-6.175 5.515-8.112 7.02a5.206 5.206 0 0 1-4.731 1.092l-3.208 3.208L4.3 27.622a.42.42 0 0 1 .037.05l.05.03 3.152 3.14 3.208-3.207a5.212 5.212 0 0 1 1.092-4.732zm11.177-3.584l3.115-3.115L15.725 5.83 12.61 8.913a.179.179 0 0 0-.056.13.186.186 0 0 0 0 .086c.63.308 4.04 2.042 6.132 4.133.388.39.755.802 1.098 1.234a27.811 27.811 0 0 1 3.022 4.879.178.178 0 0 0 .08 0c.05 0 .096-.02.13-.056zm3.77-3.769l.826-.802L17.174 4.262l-.826.851L26.785 15.55zm1.48-1.48l.826-.827L18.655 2.818l-.827.827L28.266 14.07zm2.658-2.659a.185.185 0 0 0 0-.259L20.74.974a.154.154 0 0 0-.253 0l-1.184 1.178 10.443 10.437 1.178-1.178zM8.594 23.304a2.35 2.35 0 1 1-3.328 3.319 2.35 2.35 0 0 1 3.328-3.319zm-.648 2.671a1.425 1.425 0 0 0-1.012-2.467 1.425 1.425 0 0 0-1.011 2.467 1.462 1.462 0 0 0 2.017 0h.006z"/>
                        </svg>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Dung tích</p>
                        <p><%= @post.capacity %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <path fill="#21252B" fill-rule="evenodd" d="M15.967 0C24.78.004 31.924 7.152 31.92 15.967c-.004 8.814-7.153 15.957-15.967 15.953C7.147 31.908.012 24.773 0 15.967v-.014C.004 7.139 7.152-.004 15.967 0zm0 30.88c8.236-.003 14.91-6.684 14.906-14.92-.003-8.237-6.684-14.91-14.92-14.907-8.23.012-14.899 6.683-14.907 14.914v.007c.004 8.236 6.684 14.91 14.92 14.906zm12.817-14.868c-.013 7.073-5.758 12.796-12.831 12.783a12.807 12.807 0 0 1-8.763-3.427c-5.18-4.815-5.477-12.919-.661-18.1a.522.522 0 0 1 .119-.18.504.504 0 0 1 .118-.078c.09-.092.18-.183.273-.272 5.067-4.917 13.162-4.796 18.08.272a.46.46 0 0 1 .258.28 12.807 12.807 0 0 1 3.407 8.722zM15.953 27.748c6.298-.012 11.474-4.973 11.754-11.265h-1.793a.523.523 0 1 1 0-1.046h1.82a11.718 11.718 0 0 0-2.866-7.185l-1.242 1.242a.543.543 0 0 1-.767-.768l1.318-1.234a11.733 11.733 0 0 0-7.673-3.286v1.765a.523.523 0 1 1-1.046 0V4.178a11.733 11.733 0 0 0-7.673 3.279l1.27 1.27a.545.545 0 0 1-.775.767L7.066 8.252a11.719 11.719 0 0 0-2.874 7.192h1.793a.523.523 0 1 1 0 1.046H4.192c.283 6.292 5.463 11.25 11.76 11.258zm5.343-9.542c.72 0 1.305.584 1.305 1.304v3.453c0 .72-.584 1.305-1.305 1.305h-10.68c-.72 0-1.304-.584-1.304-1.305V19.51c0-.72.584-1.304 1.305-1.304h10.68zm.237 4.757l.021-3.453a.258.258 0 0 0-.258-.258h-10.68a.258.258 0 0 0-.257.258v3.453c0 .143.115.258.258.258h10.658a.258.258 0 0 0 .258-.258zm-5.099-7.198a.523.523 0 0 1-.962.404l-3.077-7.324a.523.523 0 0 1 .963-.405l3.076 7.325z"/>
                        </svg>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Km đã đi</p>
                        <p><%= @post.km %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                          <path fill="#21252B" fill-rule="evenodd" d="M14.49.959l6.738 6.897v23.185H0V.959h14.49zm.37 2.2v4.32h4.219l-4.22-4.32zm5.094 26.608V8.752h-6.368v-6.52H1.274v27.535h18.68zM29.771 7H32v9h-1.274V8.274h-.955v17.114a3.109 3.109 0 0 1-2.468 3.038v1.978h-1.274v-1.978a3.109 3.109 0 0 1-2.467-3.038V5.965a3.108 3.108 0 0 1 3.104-3.104 3.108 3.108 0 0 1 3.105 3.104V7zm-1.273 18.388V8.274h-3.662v17.114c0 1.01.822 1.831 1.83 1.831 1.01 0 1.832-.82 1.832-1.83zm0-18.388V5.965c0-1.01-.822-1.83-1.831-1.83-1.01 0-1.831.821-1.831 1.83V7h3.662zM4.139 5.99h7.005v1.274H4.14V5.99zm0 5.191h12.842v1.274H4.14V11.18zm0 3.456h12.842v1.274H4.14v-1.274zm0 3.455h12.842v1.274H4.14v-1.274z"/>
                        </svg>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Năm đăng ký</p>
                        <p><%= @post.year_of_registration %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="box">
              <div class="writer box__group">
                <div class="writer__avatar">
                  <img src="<%= asset_url(@post.user_avatar_url(:medium)) %>" alt="avatar">
                </div>
                <p class="writer__name"><%= @post.user_username %></p>
              </div>

              <div class="box__group">
                <div class="media media--sm">
                  <div class="media__image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.939" height="12" viewBox="0 0 12.9391304 12">
                      <path fill="#858E96" fill-rule="evenodd" d="M5.2 12H1.95V6H0l6.5-6L13 6h-1.95v6H7.8V8.4H5.2z"/>
                    </svg>
                  </div>
                  <p class="media__body">Quận 2, Hồ Chí Minh</p>
                </div>
                <div class="media media--sm">
                  <div class="media__image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.939" height="12" viewBox="0 0 12.9391304 12">
                      <path fill="#858E96" fill-rule="evenodd" d="M11.7 1.2c.718 0 1.3.537 1.3 1.2v7.2c0 .663-.582 1.2-1.3 1.2H1.3c-.718 0-1.3-.537-1.3-1.2V2.4c0-.66.585-1.2 1.3-1.2h10.4zM8.86 6.66L13 9.6V8.4L9.672 6.06 13 3.6V2.4L6.5 7.2 0 2.4v1.2l3.328 2.46L0 8.4v1.2l4.14-2.94L6.5 8.4l2.36-1.74z"/>
                    </svg>
                  </div>
                  <p class="media__body"><%= @post.user_email %></p>
                </div>
                <div class="media media--sm">
                  <div class="media__image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.939" height="12" viewBox="0 0 12.9391304 12">
                      <path fill="#858E96" fill-rule="evenodd" d="M13 11.01v.39c0 .331-.291.6-.65.6h-1.3C4.947 12 0 7.433 0 1.8V.6C0 .269.291 0 .65 0h2.6c.359 0 .65.269.65.6V3c0 .336-.202.786-.455 1.02L2.054 5.304c.988 2.16 2.86 3.888 5.2 4.8l1.378-1.272c.26-.24.748-.426 1.105-.426h2.613c.356.003.644.271.643.6v2.01L13 11.01z"/>
                    </svg>
                  </div>
                  <p class="media__body"><%= @post.user_phone %></p>
                </div>
              </div>

              <div class="box__group">
                <button class="btn btn--full btn--secondary">Liên hệ người bán</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block">
        <p class="text--bold">Bài đăng khác</p>
        <div class="row">
          <%= render partial: "post", collection: @posts %>
        </div>
      </div>
    </div>
  </section>
</div>
