<%= provide(:page_title, @post.title)%>
<%= provide(:page_description, 'Người Mê Xê - Website mua bán rao vặt của người Việt với hàng ngàn món hời đang được rao bán mỗi ngày. Đăng tin mua bán UY TÍN, NHANH CHÓNG, AN TOÀN.') %>
<%= provide(:page_url, posts_url.concat("/#{@post.slug_title}"))%>
<%= provide(:page_image, image_url(@post.images.first))%>

<div id="main" class="main">
  <section class="grid-images">
    <div class="grid-image">
      <div class="grid-image__block" style="background-image: url(<%= @post.images[0] %>)">
      </div>
    </div>
    <div class="grid-image">
      <div class="grid-image__block" style="background-image: url(<%= @post.images[1] %>)">
      </div>
      <div class="grid-image__block" style="background-image: url(<%= @post.images[2] %>)">
      </div>
      <div class="grid-image__block" style="background-image: url(<%= @post.images[3] %>)">
      </div>
      <div class="grid-image__block has-more" style="background-image: url(<%= @post.images[4] %>)">
        <span class="grid-image__over">+5</span>
      </div>
    </div>
  </section>

  <section class="main-content">
    <div class="container">
      <div class="block">
        <div class="block__head">
          <h2 class="headline--lg"><%= @post.title %></h2>
          <p class="headline--md"><%= number_to_currency(@post.price, unit: "VNĐ", delimiter: ",", precision: 0, format: "%n %u") %></p>
          <p class="text--sm text--grey mt-4"><%= @post.created_date %> - <%= @post.address_sale %></p>
        </div>
        <div class="block__actions">
          <ul class="link-list">
            <li class="link-list__item">
              <button class="btn--icon">
                <%= social_share(@post) %>
              </button>
            </li>
            <li class="link-list__item">
              <button class="btn--icon">
                <%= inline_svg('ico_flag.svg') %>
              </button>
            </li>
          </ul>
          <p class="text--grey mt-16"><%= @post.views_count %> lượt xem</p>
        </div>
      </div>

      <div class="block">
        <div class="row">
          <div class="col-8">
            <div class="block__body">
              <div class="block__inner">
                <p class="text--bold">Mô tả chi tiết</p>
                <p class="mt-16"><%= raw @post.describe %></p>
              </div>

              <div class="block__inner">
                <p class="text--bold">Thông số</p>
                <div class="row">
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <%= inline_svg('ico_home.svg') %>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Hãng xe</p>
                        <p>Kawasaki</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <%= inline_svg('ico_key.svg') %>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Mẫu xe</p>
                        <p>Z1000</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <%= inline_svg('ico_calendar.svg') %>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Đời Xe</p>
                        <p><%= @post.car_life %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <%= inline_svg('ico_chain.svg') %>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Loại xe</p>
                        <p><%= @post.range_of_vehicle %></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <%= inline_svg('ico_circle.svg') %>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Tình trạng</p>
                        <p><%= @post.status_of_vehicle %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <%= inline_svg('ico_capacity.svg') %>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Dung tích</p>
                        <p><%= @post.capacity %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <%= inline_svg('ico_watch.svg') %>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Km đã đi</p>
                        <p><%= @post.km %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card card--sm">
                      <div class="card__image">
                        <%= inline_svg('ico_register.svg') %>
                      </div>
                      <div class="card__body">
                        <p class="text--grey">Năm đăng ký</p>
                        <p><%= @post.year_of_registration %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="box">
              <div class="writer writer--md box__group">
                <div class="writer__avatar">
                  <img src="<%= asset_url(@post.user_avatar_url(:medium)) %>" alt="avatar">
                </div>
                <p class="writer__body"><%= @post.user_username %></p>
              </div>

              <div class="box__group">
                <div class="media media--sm">
                  <div class="media__image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.939" height="12" viewBox="0 0 12.9391304 12">
                      <path fill="#858E96" fill-rule="evenodd" d="M5.2 12H1.95V6H0l6.5-6L13 6h-1.95v6H7.8V8.4H5.2z"/>
                    </svg>
                  </div>
                  <p class="media__body">Quận 2, Hồ Chí Minh</p>
                </div>
                <div class="media media--sm">
                  <div class="media__image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.939" height="12" viewBox="0 0 12.9391304 12">
                      <path fill="#858E96" fill-rule="evenodd" d="M11.7 1.2c.718 0 1.3.537 1.3 1.2v7.2c0 .663-.582 1.2-1.3 1.2H1.3c-.718 0-1.3-.537-1.3-1.2V2.4c0-.66.585-1.2 1.3-1.2h10.4zM8.86 6.66L13 9.6V8.4L9.672 6.06 13 3.6V2.4L6.5 7.2 0 2.4v1.2l3.328 2.46L0 8.4v1.2l4.14-2.94L6.5 8.4l2.36-1.74z"/>
                    </svg>
                  </div>
                  <p class="media__body"><%= @post.user_email %></p>
                </div>
                <div class="media media--sm">
                  <div class="media__image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.939" height="12" viewBox="0 0 12.9391304 12">
                      <path fill="#858E96" fill-rule="evenodd" d="M13 11.01v.39c0 .331-.291.6-.65.6h-1.3C4.947 12 0 7.433 0 1.8V.6C0 .269.291 0 .65 0h2.6c.359 0 .65.269.65.6V3c0 .336-.202.786-.455 1.02L2.054 5.304c.988 2.16 2.86 3.888 5.2 4.8l1.378-1.272c.26-.24.748-.426 1.105-.426h2.613c.356.003.644.271.643.6v2.01L13 11.01z"/>
                    </svg>
                  </div>
                  <p class="media__body"><%= @post.user_phone %></p>
                </div>
              </div>

              <div class="box__group">
                <button class="btn btn--full btn--secondary">Liên hệ người bán</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block">
        <p class="text--bold">Bài đăng khác</p>
        <div class="row">
          <%= render partial: "post", collection: @posts %>
        </div>
      </div>
    </div>
  </section>
</div>
