<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'application' %>
  <title>Rao vặt - Bạn muốn tôi cần...</title>
  <script>
    WebFontConfig = {
      google: {
        families: ['Roboto:400,500,700:vietnamese']
      }
    };
    (function (d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
      wf.async = true;
      s.parentNode.insertBefore(wf, s);
    })(document);
  </script>
</head>

<body>
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/popup_login' %>
  <%= javascript_pack_tag 'application' %>
</body>

</html>
