<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'application' %>
  <link rel="dns-prefetch" href="https://apis.google.com">
  <link rel="dns-prefetch" href="https://accounts.google.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">

  <title><%= yield(:page_title) %></title>
  <meta name="description" content="<%= yield(:page_description) %>">
  <meta name="application-name" content="Nguoimexe">

  <link rel="canonical" href="<%= yield(:page_url) %>">

  <meta property="og:title" content="<%= yield(:page_title) %>">
  <meta property="og:site_name" content="<%= yield(:page_title) %>">
  <meta property="og:description" content="<%= yield(:page_description) %>">
  <meta property="og:url" content="<%= yield(:page_url) %>">
  <meta property="og:image" content="<%= yield(:page_image).present? ? yield(:page_image) : 'c' %>">
  <meta property="og:type" content='website'>
</head>

<body>
  <%= yield %>

  <%= render 'shared/popup_login' %>
  <%= render 'shared/notifications_list' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>

</html>
